[submodule "Paso 2"]
	path = Paso 2
	url = https://github.com/Niruchie/BISOFT-23-Portafolio-Profesional-Web.git
[submodule "Paso 3"]
	path = Paso 3
	url = https://github.com/Niruchie/BISOFT-23-Portafolio-Profesional-Web.git
